header {
    margin-top: 10vh;
}
#progressContainer {
    display: block;
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: transparent;
    z-index: 1000;
}
#progressBar {
    display: block;
    height: 100%;
    background: darkblue;
}
#toTopButton {
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    color: black;
    z-index: 999;
}

#toTopButton > h1 {
    height: 8vh;
    width: auto;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}
.my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 100px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 100px;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
    color: #777;
}
nav img {
    width: auto;
    height: 5vh;
}