header {
    margin-top: 10vh;
}
#progressContainer {
    display: block;
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: transparent;
    z-index: 1000;
}
#progressBar {
    display: block;
    height: 100%;
    background: darkblue;
}
#toTopButton {
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    color: black;
    z-index: 999;
}

#toTopButton > h1 {
    height: 8vh;
    width: auto;
}
nav img {
    width: auto;
    height: 5vh;
}
.square-image {
    height: 40px;
    width: 40px;
}
#main-image {
    width: 100%;
    height: auto;
}
.project-image {
    aspect-ratio: 1 / 1;
    height: 50%;
}