body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 4em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul > li {
    float: left;
    margin: 0 2% 0 2%;
    font-size: 2em;
}

ul > li > a {
  color: white;
  text-decoration: none;
}