body {
    --title-chars: 35;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 4em;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    width: calc(var(--title-chars) * 1ch);
    animation: typing 3.5s steps(var(--title-chars), end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: calc(var(--title-chars) * 1ch); }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul > li {
    float: left;
    margin: 0 2% 0 2%;
    font-size: 2em;
}

ul > li > a {
  color: white;
  text-decoration: none;
}
